PROJECT_NAME="AI Content Writer"
ENVIRONMENT=development
DEBUG=True
SECRET_KEY=yoursecretkeyhere

# CORS
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8000"]

# Database - PostgreSQL (update with your credentials)
DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/contentai

# API Keys
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
